<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Email</title>
  </head>
  <body>
    <div>
      <form method="GET">
        <label for="">Email</label>
        <input name="email" type="email" />
        <label for="">Message</label>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <button
          onclick="(e) => e.preventDefault()"
          type="submit"
          class="btn-submit"
        >
          Enviar Correo
        </button>
      </form>
    </div>
  </body>
</html>
